// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #19352D;
$color-one: #7BAE9E;
$color-two: #1A2E28;
$color-three:#1A2E28;
$color-four: #B8D4C8;
$color-five: #0E3E2F;
$color-six: #A8C5B8;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$color-nine: #C5DDD3;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
