// Paleta MonteRozo
$primary: #A7B29C;
$secondary: #394A52;
$success: #A7B29C;
$dark: #394A52;
$body-bg: #FAF8F4;
$body-color: #5F6A72;
$border-color: #E8ECEA;
$link-color: #394A52;
$link-hover-color: #8E9B84;

@import 'bootstrap/scss/bootstrap';
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "slick-carousel/slick/slick.css";
@import 'react-toastify/dist/ReactToastify.css';
@import '../public/assets/fonts/satoshi/css/satoshi.css';
@import '../public/assets/fonts/clash-display/css/clash-display.css';
@import '../public/assets/fonts/magnita/magnita.css';
@import '../public/assets/fonts/bootstrap-icons/font.css';
@import '../public/assets/fonts/bootstrap-icons/font.css';
@import '../public/assets/scss/style.scss';
